<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <title>Update User</title>
</head>
<body>
<form th:action="@{/updateUser}" th:object="${user}"
      method="post" style="max-width: 600px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}" />

    <label for="username">Enter name</label>
    <input type="text" th:field="*{username}" id="username"/><br>

    <label for="firstName">Enter First name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br>

    <label for="lastName">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>

    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/><br>

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/><br>

    <label for="email">Enter password</label>
    <input type="text" th:field="*{email}" id="email"/><br>

    <th:block th:each="role : ${userRoles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
        <label th:for="${#ids.prev('roles')}" th:text="${role.role}"></label><br>
    </th:block>

    <input type="submit" value="Update User">
</form>
</body>
</html>