<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <title>Update User</title>
</head>
<body>
<h2>User Update Form</h2>
<form th:action="@{/updateUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/><br>

    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName"/><br>

    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/><br>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/><br>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/><br>

    <th:block th:each="role : ${userRoles}">
        <input type="checkbox" th:field="*{roles}"  th:value="${role.id}" />
        <label th:for="${#ids.prev('roles')}" th:text="${role.role}"></label><br>
    </th:block>

    <input type="submit" value="Update User">
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>