<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">User</div>
        <div class="col-8">
            <h2>User information-page</h2>
            <h4>About user</h4>
            <div>
                <table>
                    <tr>
                        <td>Username</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Age</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td th:text="${user.getUsername()}">...</td>
                        <td th:text="${user.getFirstName()}">...</td>
                        <td th:text="${user.getLastName()}">...</td>
                        <td th:text="${user.getAge()}">...</td>
                        <td th:text="${user.getEmail()}">...</td>
                    <tr>
                </table>
            </div>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Выйти</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
