<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- Required meta tags-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!--Панель навигации начало-->
<nav class="navbar navbar-expand-lg text-white bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <span class="align-middle font-weight-bold mr-1" id="authenticatedUserEmail"></span>
            <span class="align-middle mr-1">with roles:</span>
            <span id="authenticatedUserRoles"></span>
        </ul>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>

    </div>
</nav>
<!--Панель навигации конец-->


<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}" aria-controls="v-pills-home" aria-selected="false">Admin</a>
                    <a class="nav-link active" href="#">User</a>
                </li>
            </ul>
        </div>

        <!--контейнер для правой основной части экрана начало-->
        <div class="col-md-10 gx-5 py-3 tab-content" style="background-color:#f8f9fa; height: 100vh">
            <div class="container-fluid">
                <div>
                    <h3>User information-page </h3>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4>
                            About user
                        </h4>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fist Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userInfo"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
        integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/showUpdateDeleteUsers.js"></script>
</body>
</html>